.finalize-container {
  color: #3d3d3d;
  padding-top: 9rem;
}

.finalize-header {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.tabs {
  display: flex;
  gap: 1.5rem;
  font-weight: 500;
}

.tab {
  cursor: pointer;
  color: #999;
}

.tab.active {
  color: #000;
  border-bottom: 2px solid #000;
}

.endereco-section {
  background: #f7f7f7;
  border-radius: 12px;
  padding: 20px;
}

.endereco-info {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.endereco-texto {
  display: flex;
  align-items: center;
  gap: 8px;
}

.trocar-btn {
  background: none;
  border: none;
  color: #999;
  font-size: 0.9rem;
  cursor: pointer;
  transition: color 0.2s;
}

.trocar-btn:hover {
  color: #555;
}

.tempo-info {
  margin: 15px 0;
  font-size: 1rem;
  color: #666;
}

.opcao-card {
  background: white;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.opcao-header {
  display: flex;
  justify-content: space-between;
}

.opcao-preco {
  font-weight: bold;
  margin: 5px 0;
}

.opcao-preco.gratis {
  color: green;
}

.btn-pagamento {
  background: #555;
  color: white;
  width: 100%;
  border: none;
}

.resumo-card {
  padding: 20px;
  background: #e9e9e9;
  border-radius: 12px;
}

.resumo-loja {
  display: flex;
  justify-content: space-between;
}

.ver-loja {
  color: #999;
  font-size: 0.9rem;
}

.resumo-item {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.descricao {
  color: #7d7d7d;
  font-size: 0.9rem;
}

.resumo-linha {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.resumo-linha .gratis {
  color: green;
}

.resumo-total {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
}
