.meus-pedidos-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
  font-family: Arial, sans-serif;
}

.meus-pedidos-header {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.pedido-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f5f2ed;
  padding: 40px;
  margin-bottom: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.produto-id.canto {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 0.85rem;
  color: #555;
}

.produto-header {
  margin-bottom: 5px;
}

.produto-nome {
  font-size: 1.4rem;
  margin: 0;
  font-weight: bold;
}

.sub-info {
  font-size: 0.9rem;
  color: #555;
  margin-top: 1px;
}

.produto-conteudo {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.produto-imagem-placeholder img.produto-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.produto-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.produto-preco {
  font-size: 1rem;
  margin-bottom: 10px;
}

.produto-preco label {
  font-weight: bold;
  margin-right: 5px;
}

