#Pagina {
  background-color: #f0ede8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  font-family: 'Arial', sans-serif;
  color: #7d7d7d;
}

h1 {
  font-weight: normal;
  margin-bottom: 10px;
}

.menu {
  background-color: #9b9490;
  padding: 30px 40px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: white;
}

.menu input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  padding: 8px 0;
  font-size: 14px;
  color: #eee;
  outline: none;
  transition: border-color 0.3s;
}

.menu input::placeholder {
  color: #ddd;
}

.menu input:focus {
  border-color: #fff;
}

button {
  background-color: #d4d4d4;
  border: none;
  border-radius: 4px;
  padding: 7px;
  color: #7d7d7d;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c1bdbb;
}
.logo1 {
  width: 10000px;
  max-width: 150px;
  height: auto;    
  object-fit: cover;
  margin-top: 10px;
}

